@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* top bar  */
.hide a{
    color: darkblue;
}
.welimg img{
    width: 40px;
    border-radius: 100%;
    box-shadow: 2px 2px 5px 5px gold;
}
.welcome {
    color: black;
    font-weight: 400;
    text-transform: capitalize;
    padding-right: .6rem;
}
.welcome:hover{
    text-decoration: none !important;
}
.welcome span{
    color: darkblue;
    font-weight: 600;
    text-decoration: none;
}
.user-btn{
    color: darkblue;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: .3rem;
}
.user-btn:hover{
    text-decoration: none;
}
.user-btn span{
    color: black;
    font-weight: 600;
    text-transform: capitalize;
}
.user-btn span:hover{
    color: gold;
    text-decoration: none !important;
}
.auth{
    display: flex;
    justify-content: space-around;
}
.auth li{
    display: inline;
}
/* top bar done */
h1{
    color: gold;
}
.navbar{
    background: gold;
}
#navbarSupportedContent a{
    color: black;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
}
.navbar img{
    width: 50%;
    margin-left: 20%;
}
.navbar-nav{
    margin-left: 50%;
}
#navbarNavDropdown a{
    /* color: white; */
    color: black;
}
.dropdown-menu{
    background: gold;
}
.dropdown-menu .dropdown-item:hover{
    background: darkblue;
    color: white !important;
}
#iphone{
    color: gold; 
}
#samsung{
    color: gold;
}
.form-btn{
    color:white;
    background: darkblue;
}
.form-btn:hover{
    /* background: gold; */
    color: gold;
}
/* styling banner  */
.blend{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(228,194,3,0.5);
    mix-blend-mode: overlay;
}
.carousel-item img{
    margin: auto;
    height: 70vh;
}
.carousel-control-prev i{
    font-size: 30px;
    color: black;
}
.carousel-control-next i{
    font-size: 30px;
    color: black;
}
.banner{
    height: 40vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/pool.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* styling banner done */

.container-fluid h1{
    text-align: center;
    margin-top: 2%;
}
.container h1{
    text-align: center;
    margin-top: 3%;
}
#card img{
    height: 70vh;
    width: 70vh;
    margin-left: 25%;
}
/* content section  */
.dtitle{
    box-shadow: 8px 8px 10px 10px #f0f0f0;
}
.dtitle2{
    box-shadow: 10px 10px 20px 20px #f0f0f0;
}
.ctitle{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.ctitle h3{
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(228, 194, 3);
    outline: pink;
}
.ctitle p{
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(228, 194, 3);
    max-width: 800px;
}
.ctitle a{
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(228, 194, 3);
    max-width: 800px;
    text-transform: capitalize;
}
.content-box{
    padding-top: 5%;
    /* padding-bottom: 5%; */
}
.content{
    background: url(../img/content.jpg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    display: grid;
    justify-items: center;
    align-items: center;
    text-transform: capitalize;
}
.content1{
    background: url(../img/content1.jpg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    display: grid;
    justify-items: center;
    align-items: center;
    text-transform: capitalize;
}
.content2{
    background: url(../img/content2.jpg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    display: grid;
    justify-items: center;
    align-items: center;
    text-transform: capitalize;
}
.content3{
    background: url(../img/content3.jpg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    display: grid;
    justify-items: center;
    align-items: center;
    text-transform: capitalize;
}
.content4{
    background: url(../img/content4.jpg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    display: grid;
    justify-items: center;
    align-items: center;
    text-transform: capitalize;
}
.content p,
.content1 p,
.content2 p,
.content3 p,
.content4 p{
    max-width: 900px;
    font-size: 15px;
    font-weight: bolder;
    color: gold;
    text-shadow: gold;
    text-align: center;
}
.content h4,
.content1 h4,
.content2 h4,
.content3 h4,
.content4 h4{
    font-size: 35px;
    font-weight: 700;
    color: gold;
    text-align: center;
}
/* content section done */
/* product  */
.royal-box{
    transition: transform .2s;
    margin: 0 .2rem;
    position: relative;
}
.royal-box:hover {
    transition: .5s;
    transform: scale(1.1); 
}
.royal-text{
    position: absolute;
    top: .7rem;
    left: 1.5rem;
    color: white;
    font-size: 15px;
    line-height: .2rem;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}
.book{
    color: white;
    font-size: 15px;
    line-height: .2rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none !important;
}
.book:hover{
    color: white;
    cursor: pointer;
}
.royal-img{
    opacity: 1;
    transition: 0.5s;
}
.royal-box:hover .royal-img{
    opacity: 0.7;
    transition: 0.5s;
}
.royal-box:hover .royal-text{
    opacity: 1;
    transition: 0.5s;
}
/* product done */
/* detail  */
.detail-box{
    box-shadow: 40px 40px 40px 40px #f0f0f0;
}
.detail{
    color: darkblue;
}
.detimg img{
    height: 50vh;
}
.detail h4{
   font-weight: 700;
}
.detail h6{
    font-weight: 500;
}
.detail label{
    font-weight: 500;
}
.detail h6 span{
    color: darkblue;
    font-weight: 800;
    margin-left: 2rem;
}
.detail form input{
    color: darkblue;
    font-weight: 500;
    margin-left: 2rem;
    border: 1px solid darkblue;
    outline: none;
}
.detail-btn{
    background: darkblue;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.detail-btn:hover{
    background: rgb(228, 194, 3);
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.features .fas{
    color: darkblue;
}
.features .fas:hover{
    color: gold;
}
/* detail done */
/* about us  */
.abouttus{
    background-color: gold;
    padding-bottom: 1rem;
    display: grid;
    justify-items: center;
    align-items: center;
    text-transform: capitalize;
}
.abouttus h1{
    text-align: center;
}
.abouttus p{
    text-align: center;
    max-width: 900px;
    font-size: 15px;
    font-weight: 500;
    /* width: 100%; */
}
/* about us done */
/* contact  */
.contact{
    /* margin-top: 3rem; */
    margin-bottom: 5rem;
}
.map-box{
    height: 70vh;
    width: 100%;
}
.map{
    height: 100%;
    width: 100%;
    border: none;
}
.form-box{
    padding-top: 3rem;
    text-transform: capitalize;
    color: rgb(228, 194, 3);
    margin-bottom: 5rem;
}
.form-box form{
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
}

.form-box .form-group .box{
    width: 100%;
}
.contact-btn{
    background: rgb(228, 194, 3);
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    padding: .5rem 1rem;
    box-shadow: none;
}
.contact-btn:hover{
    background: rgb(228, 194, 3);
    color: white;
    font-weight: 500;
    box-shadow: none;
}
.form-box input{
    box-shadow: none;
    outline: none;
    border: .5px solid rgb(228, 194, 3);
}
.form-box input:focus{
    box-shadow: none;
    outline: none;
    border: .5px solid rgb(228, 194, 3);
}
.form-box textarea{
    box-shadow: none;
    outline: none;
    border: .5px solid rgb(228, 194, 3);
}
.form-box textarea:focus{
    box-shadow: none;
    outline: none;
    border: .5px solid rgb(228, 194, 3);
}
.ccontainer{
    margin-top: 5rem;
    box-shadow:  10px 10px 10px 10px #f0f0f0;
}
/* contact done */
/* footer  */
.footer{
    background: rgb(228, 194, 3);
    /* background: rgb(84, 141, 197); */
    /* background: rgb(63, 59, 59); */
}
.footer h1{
    color: white;
    margin-right: 19%;
}
.footer h4{
    color: white;
}
.footer h6{
    color: white;
}
.foota-box{
    padding-left: 3%;
}
.foota-box2 img{
    width: 170px;
    height: 15%;
}

.foota-box2 .list-unstyled li a{
    color: white;
    font-size: 25px;
}
.foota-box2 .list-unstyled li a:hover i{
    text-decoration: none;
    cursor: pointer;
    margin-right: 10% !important;
}
.foota-box2 .list-unstyled li span{
    color: white;
    font-size: 20px;
    /* padding-left: 10px; */
}
.foota-box3 li{
    padding-bottom: 4%;
    padding-left: 9%;
    font-weight: 600;
}
.foota-box3 a{
    color: white;
    font-size: 20px;
}
.foota-box3 a:hover{
    text-decoration: none !important;
}
.foota-box4 a{
    color: white;
    font-size: 25px;
}
.foota-box4 li{
    transition: transform .5sec;
}
.foota-box4 li:hover{
    transform: translateY(-50%);
}
.foota-box,
.foota-box2,
.foota-box3,
.foota-box4{
    margin: 2.5% 0 2%;
}
.foota-box2,
.foota-box3,
.foota-box4{
    border-left: .1px solid #f0f0f0;
    padding-left: 4%;
    cursor: pointer;
}
.foota-box3{
    padding-left: 6%;
}
.footer3{
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 1% 0;
    border-top: .5px solid #f0f0f0;
}
/* footer done */
/* cart  */
.cart{
    width: 90%;
    text-align: center;
    margin-left: 4%;
    margin-right: 2%;
    margin-bottom: 10%;
}
.cart thead{
    background: rgb(228, 194, 3);
    color: white;
    text-transform: capitalize;
}
.cart td{
    color: rgb(84, 141, 197);
    text-transform: capitalize;
    font-weight: 700;
}
.cart .remov_btn{
    background: white;
    outline: none;
    border: none;
}
.cart .remov i{
    color: red;
    font-size: 20px;
    padding-left: 1.8rem;
}
.cart img{
    width: 80px;
}
.cart input{
    width: 80px;
    border: none;
    outline: none;
    text-align: center;
    background: #f0f0f0;
    color: rgb(84, 141, 197);
    font-weight: 700;
}
.title{
    text-transform: capitalize;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: rgb(228, 194, 3);
    font-weight: 700;
}
.titlep{
    text-transform: capitalize;
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: rgb(228, 194, 3);
    font-weight: 700;
}
.cart .cartbtn{
    margin-top: 5%;
    padding: 3%;
    background: rgb(228, 194, 3);
    color: white;
}
.cart .cartbtn:hover{
    text-decoration: none;
    background: rgb(228, 194, 3);
    cursor: pointer;
}
/* cart done */
/* checkout  */
.check{
    margin-bottom: 10%;
}
.summary{
    text-align: center;
    color: rgb(84, 141, 197);
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 3%;
}
.shipping{
    width: 90%;
    padding-left: 10%;
}
.shipping form{
    width: 100%;
}
.shipping .labe{
    color: rgb(84, 141, 197) !important;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
}
.shipping input{
    border: none !important;
    background: rgb(84, 141, 197);
    opacity: 0.3;
}
.shipping input:focus{
    box-shadow: 1px 1px 3px 5px dodgerblue;
}
.check-btn{
    background: rgb(84, 141, 197) !important;
    color: white;
    text-transform: capitalize;
    margin-top: 5%;
}
.check-btn:hover{
    background: rgb(84, 141, 197) !important;
    color: white !important;
}
/* checkout done */

/* profile  */
.prof{
    margin-bottom: 5rem;
}
.img-pcard{
    width: 60%;
    height: 60vh;
    padding-left: 15%;
}
.img-pcard img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.pro-form{
    width: 90%;
    padding-left: 10%;
}
.pro-form form{
    width: 100%;
}
.pro-form .labe{
    color: rgb(84, 141, 197) !important;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
}
.pro-form input{
    border: none !important;
    background: rgb(84, 141, 197);
    opacity: 0.3;
}
/* .pro-form input:focus{
    box-shadow: 1px 1px 3px 5px dodgerblue;
} */
.pro-form .check-btn{
    background: rgb(84, 141, 197) !important;
    color: white;
    text-transform: capitalize;
    margin-top: 3rem;
}
.pro-form .check-btn:hover{
    background: rgb(84, 141, 197) !important;
    color: white !important;
}
.pro-links{
    margin-left: 10%;
}
.pro-links h4{
    color: rgb(228, 194, 3);
}
.pro-links a{
    color: rgb(84, 141, 197);
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
}
.pro-links a:hover{
    text-decoration: none;
    background: rgb(84, 141, 197);
    color: white;
}
.pass{
    margin-top: 3rem;
}
/* profile done */
/* callback  */
.callback{
    margin-bottom: 5rem;
}
.call{
    margin-top: 20%;
    color: rgb(84, 141, 197);
    text-transform: capitalize;
}
.call span{
    color: rgb(228, 194, 3);
}
.call h3{
    margin-bottom: 20px;
    font-weight: 800;
}
.call h4{
    margin-bottom: 15px;
    font-weight: 600;
}
/* callback done */
/* signup and signin  */
.reg{
    background-image: linear-gradient(rgba(30,144,255,0.3),rgba(30,144,255,0.3)),url(../img/newbuilding.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
.reg .titles{
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-weight: 500;
}
.reg .form{
    padding: 0% 20% 5% 30%;
    z-index: 100;
}
.reg .form-page{
    width: 80%;
    /* margin-bottom: 5rem; */
}
.reg .form-page form{
    width: 100%;
}
.reg .form-page .labe{
    color: white !important;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
}
.reg .form-page input{
    border: 1px solid goldenrod !important;
    opacity: 0.7;
}
.reg .form-page input:focus{
    box-shadow: .5px .5px 1px 2px goldenrod;
}
.reg .form-page .check-btn{
    background: white !important;
    /* background: rgb(84, 141, 197) !important; */
    color: white;
    text-transform: capitalize;
    margin-top: .5rem;
    font-size: 20px;
    background: rgb(228, 194, 3) !important;
}
.reg .form-page .check-btn:hover{
    background: rgb(228, 194, 3) !important;
    color: white !important;
}
.reg .form-page a{
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}
/* signup and signin done */

/* pagination  */
.pagination > li > a{
    color: rgb(228, 194, 3) !important;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
    background: white;
    color:  rgb(228, 194, 3)  !important;
    border: rgb(228, 194, 3) !important;
    box-shadow: 1px 1px 1px 2px rgb(228, 194, 3) !important;
}
.pagination > .active > a{
    background: rgb(228, 194, 3) !important;
    color: white !important;
    border: solid 1px rgb(228, 194, 3) !important;
}
.pagination > .active > a:hover{
    background: rgb(228, 194, 3) !important;
    border: solid 1px rgb(228, 194, 3);
    color: white !important;
}
/* pagination done */





@media (min-width:991px) and (max-width: 1200px){
    .royal-text{
        position: absolute;
        top: .1rem;
        left: 2rem;
        color: black;
        font-size: 15px;
        line-height: .3rem;
        font-weight: 700;
        text-transform: capitalize;
        cursor: pointer;
        opacity: 0;
        transition: 0.5s;
    }
}


@media (min-width: 767px) and (max-width:990.9px){
    .hide{
        display: none;
    }
    .ctitle{
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    .footer2{
        padding-left: 3rem;
    }
    .foota-box2,
    .foota-box3,
    .foota-box4{
        border-left: none;
        padding-left: 4%;
        cursor: pointer;
    }
    /* .royal-b{
        margin-left: 3rem;
    } */
    .royal-box{
        transition: transform .2s;
        /* margin: 0 auto; */
        position: relative;
    }
    .royal-text{
        position: absolute;
        top: 1rem;
        left: 4rem;
        color: black;
        font-size: 15px;
        line-height: .5rem;
        font-weight: 700;
        text-transform: capitalize;
        cursor: pointer;
        opacity: 0;
        transition: 0.5s;
    }
}
@media (min-width:451px) and (max-width: 766.9px){
    .hide{
        display: none;
    }
    .royal-b{
        margin-left: 3.5rem;
    }
    .royal-box{
        transition: transform .2s;
        margin: 0 auto;
        position: relative;
    }
    .royal-text{
        position: absolute;
        top: 2rem;
        left: 5rem;
        color: black;
        font-size: 18px;
        line-height: 1rem;
        font-weight: 700;
        text-transform: capitalize;
        cursor: pointer;
        opacity: 0;
        transition: 0.5s;
    }
}







